body {
  background-color: cadetblue;
  margin: 0;
  margin-top: -50px;
}

/* Header banner properties */
.header {
  color: cadetblue;
  text-align: center;
  font-size: 60px;
  background-color: black;
  width: 100%;
  padding-bottom: 70px;
  padding-top: 70px;
}

/* About container which will have properties for header and summary */
.about {
  color: black;
  font-size: 50px;
  margin-top: -3%;
  margin-bottom: 1%;
}

.aboutContainer {
  width: 50%;
  display: inline-block;
  text-align: center;
  margin-left: 25%;
}

.aboutP {
  color: black;
  font-size: 20px;
}

/* Container for button properties */
.container {
  height: 200px;
  width: 500px;
  margin: auto;
  margin-top: 5%;
  border: 3px solid black;
  background-color: lightgrey;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  border-radius: 15px;
}

.userInput {
  width: 40%;
  height: 12%;
  display: block;
  margin-left: 29%;
  margin-top: 6%;
  border-radius: 10px;
  font-size: 20px;
}

.submit {
  font-size: 20px;
  margin-top: 8%;
  border-radius: 20px;
}
